
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fon-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png),#FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2{
    font-size: 45px;
    font-weight: 900px;
}

.color-orange{
    color: #FD6E0A;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    color: #474747;
    text-decoration: none;
    
}

.btn{
    background-color: #FD6E0A;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;

}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;

}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    font-weight: 400px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
}
#about .about-container{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

.section-header{
    max-width: 827px;
    text-align: center;
}
.section-header h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;


}
.section-header p{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    text-align: center;
    margin-bottom: 30px;
    line-height: 30px;
}
.about-info{
    display: flex;
    
    gap: 50px;
    
    justify-content: space-around;
    


}
.info-card p{
    font-size: 20px;
    font-weight: 400px;
    color: #757575;



}
.info-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}
.skill-info h1{
    padding-top: 130px;
    
    text-align: center;
    margin: 0 auto;
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 30px;

}
.skill-info p{
    margin: 0 auto;
    width: 827px;
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    color: #757575;
    


}
.skill-container {
    display: flex;
    padding-top: 50px;
    gap: 54px;
    margin: 0 auto;
    justify-content: center;
    width: 71%;
    max-width: 1140px;
    

}
.skill-box {
    padding: 30px;
    box-sizing: border-box;
    /* border: 1px solid red; */
    
  box-shadow: 0 6px 50px #0000003d;
}


}
.skill-box img{
  
    width: 44px;
    padding-bottom: 30px;
}
.skill-box h3{
    width: 174px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 400px;
    color: #181818 ;
}
.skill-box p{
    width: 201px;
    font-size: 16px;
    font-weight: 400px;
    line-height: 28px;
    color: #757575;
    
    
}
#resume{
    padding-top: 130px;
}
#resume .section-heading .heading{
    margin: 0 auto;
    
    text-align: center;

}
.resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;

    display: flex;
    gap: 24px;
}
.section-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom:30px ;
}
.resume-cart{
    max-width: 511px;
    margin-right: 47px;


}
.cart-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

.card-info{
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;
    color: #757575;
}
.cart-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.resume-container hr{
    margin: 30px 0;
}
.cen{
    text-align: center;
}

footer{
    margin-top: 130px;
    background-color: #f5eae2;
    padding: 130px 0;
}
.footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.social{
    max-width: 562px;

}
.footer-container h2{
    font-size: 35px;
    
    color: #181818;
    margin-bottom: 20px;
}
.footer-container p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}
.icon a{
    margin-right: 24px;

}
.form input[type="text"] , .form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
